body {
    margin: 0;
    padding: 0 0 0 0;
    font-size: 12px;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

html, body, .ppc {
    height: 100%;
}

a:link, a:visited, a:active, a:focus {
    color: #666;
}

a:hover {
    color: #09f;
}

.bt1 {
    font-size: 24px;
    font-family: "微软雅黑";
    text-align: center;
}

.bt2 {
    font-size: 12px;
    color: #999;
}

.getiao {
    width: 100%;
    height: 46px;
    background-image: url(../images/pps_04.gif);
    overflow: hidden;
}

.getiao_xsd {
    float: left;
    width: 650px;
    line-height: 25px;
    margin-top: 8px;
    display: inline;
}

.getiao_xsd_gao {
    float: left;
    width: 220px;
    display: inline;
}

.getiao_percent_gao {
    width: 488px;
    float: left;
    margin-top: 13px;
    margin-left: 0px;
    display: inline;
}

.getiao_wz {
    width: 75px;
    float: left;
    margin-left: 0px;
    display: inline;
}

.getiao_percent {
    width: 500px;
    margin-left: -60px;
    display: inline;
}

.getiao img {
    border: 1px solid #666666;
    margin-top: 4px;
    float: left;
}

.getiao_an {
    float: right;
    height: 30px;
    width: 400px;
    margin-top: -7px;
    display: block;
    text-align: right;

}

.getiao_an a {
    float: left;
    height: 20px;
    padding-top: 7px;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
    background-repeat: repeat-x;
    border: 1px solid #939393;
    text-decoration: none;
    color: #666;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 12px;
}

.basa {
    float: left;
    height: 20px;
    padding-top: 7px;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
    background-repeat: repeat-x;
    border: 1px solid #939393;
    text-decoration: none;
    color: #666;
    margin-right: 5px;
    margin-left: 5px;
    background-image: url(../images/pps_an.png);
}

.basa:hover {
    background-image: url(../images/pps_anx.png);
    color: #666;
}

.getiao_an a:link, .getiao_an a:visited, .getiao_an a:active, .getiao_an a:focus {
    background-image: url(../images/pps_an.png);
}

.getiao_an a:hover {
    background-image: url(../images/pps_anx.png);
}

.top {
    background-color: #E2E2E2;
    height: 8px;
    margin: 0;
    padding: 0 0 0 0;
}

.bottom {
    background-image: url(../images/di.gif);
    background-repeat: repeat-x;
    width: 100%;
    display: block;
    height: 40px;
    bottom: 0px;
    vertical-align: bottom;
    margin-bottom: 0px;
    position: relative;
    left: 0px;
    overflow: hidden;
}

.left, .right {
    background-repeat: repeat-y;
    width: 10px;
    vertical-align: top;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.left {
    background-image: url(../images/pps_left.gif);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.right {
    background-image: url(../images/pps_right.gif);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

}

.center-td {
    border-bottom: 1px solid #ddd;
}

.nav-d {
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.rt-d {
    float: right;
    margin: 10px 0;
    padding-right: 10px;
}

.rt-r {
    float: right;
    margin: 0 15px;
    min-width: 120px;
}

.rt-r p {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin: 2px 0;
}

.btm-p {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin: 9px 0;
}

@media (min-width: 1600px) and (max-width: 1920px) {
    .tit-d {
        width: 38%;
    }
}

.nav-d-d {
    border-bottom: 1px solid #ddd;
}

.rt-r-s {
    display: inline-block;
    width: 108px;
    height: 18px;
    margin-right: 5px;
    border: 1px solid #FF0000;
    vertical-align: middle;
}

.rt-r-s i {
    display: block;
    background: #FF0000;
    height: 100%;
}


/*********paper*********/
user_icon {
    color: #FFFFFF;
}
html
{
    overflow-x:hidden;
    overflow-y:auto;
}
body,td,th {
    font-family: "微软雅黑";
    font-size: 12px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "宋体";
}
p{
    margin-bottom:10px;
}
demo_padding {
    line-height: 30px;
}
.zhengwen {
    padding-right: 15px;
    padding-left: 5px;
    padding-bottom:100px;
    font-size: 13px;
    line-height: 20px;
    color: #666666;
}
.zhengwencenter {
    padding-right: 15px;
    padding-left: 0px;
    margin-bottom:10px;
    font-size: 13px;
    line-height: 20px;
    color: #666666;
    text-align:center
}
.neikuang {
    background-color: #EBEBEB;
    border: 1px solid #999999;
    padding-right: 10px;
    padding-left: 10px;
    margin-top:10px;
    margin-left:25px;
    width:300px;
}
.shubu{
    height: 20px;
    width: 20px;
    margin-left:25px;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    text-align: center;
    vertical-align: middle;
    display: block;
    color: #666666;
}
a.red:link {color:#FF0000}
a.red:visited {color:#FF0000}
a.red:hover {color:#000000}
a.red:active {color:#000000}

a.orange:link {color:#FF9900}
a.orange:visited {color:#FF9900}
a.orange:hover {color:#000000}
a.orange:active {color:#000000}

a.dark:link {color:#666666}
a.dark:visited {color:#666666}
a.dark:hover {color:#000000}
a.dark:active {color:#000000}

a.pagelink:hover {color:#000000}
a.pagelink:active {color:#000000}

.green{color:#008000}
.gray{color:#666666}
span.gray:hover {color:#000000}

.red{color:#FF0000}
span.red:hover {color:#000000}
.orange{color:#FF9900}
span.orange:hover {color:#000000}

a{TEXT-DECORATION:none}
a:hover{TEXT-DECORATION:underline;}
.conNum1{padding:0 5px;height:20px;border:1px solid #ccc;}
.paper .autotype3{color:#FF0000;}
.paper .autotype2{color:#FFA500;}


















